processed
runs
results
data/models
data/Cuneiform
data/Fingerprint
data/imdb
data/Cora
data/QM9
data/pubmed
outputs
imgs
artifacts
# Ignore Python byte-compiled files
__pycache__
*.pyc
*.pyo

# Ignore log files
*.log
*.json
*.csv
wandb
.vscode
data/aids
data/proteins_g